<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /GIG/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /GIG/index.php [L]
</IfModule>